<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179393671-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179393671-1');
    </script>

    <meta charset="UTF-8">
    <title>大阪大学軽音楽部ROCK</title>
    <meta name="apple-mobile-web-app-title" content="阪大軽音ROCK">
    <meta name="Keywords" content="大阪大学,軽音楽部" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="大阪大学軽音楽部ROCKのホームページです。" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/png" href="/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicons/icon-192x192.png">
    <link rel="icon" type="image/png" href="/favicons/and" sizes="192x192">

    <meta name="apple-mobile-web-app-title" content="SiteTitle">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="./public/stylesheets/keionrock.css">


<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<meta charset="utf-8">

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Keion Rock</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/activity">Activity</a></li>
                    <li><a href="https://twitter.com/keionrock2020" target="_blank" rel="noopener">Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCwMgEqCxL6xYcj0avINElQg" target="_blank"
                            rel="noopener">YouTube</a></li>
                    <li><a href="/join">入部について</a></li>
                    <li><a href="/links">Links</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>