<%- include("./partials/header") %>

<div class="container" style="color: aliceblue;">
    <div class="container">
        <h1>大阪大学軽音楽部ROCKとは</h1>
        <h3>Contents coming soon...</h3>
    </div>
    <div class="container">
        <h1>アクセス</h1>
        <p>
            所在地：大阪府豊中市待兼山町1-10　大阪大学豊中キャンパス 明道館２階 BOX17(通称：ボックス),BOX19(通称：ユース)
        </p>
        <div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1638.0280587302586!2d135.45139965801303!3d34.804529995101994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDQ4JzE2LjMiTiAxMzXCsDI3JzA5LjAiRQ!5e0!3m2!1sja!2sjp!4v1600004597687!5m2!1sja!2sjp"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>

    <div class="container">
        <h1>お問い合わせ</h1>
        <div>coming soon...</div>
    </div>
</div>
<%- include("./partials/footer") %>