<%- include("./partials/header") %>

<div class="container" style="color: aliceblue;">
    <div class="container">
        <h1>活動内容</h1>
        <h3>Contents coming soon...</h3>
    </div>
</div>

<%- include("./partials/footer") %>