<%- include("./partials/header") %>
    <!-- top page -->
    <section class="page-section toppage" id="top">
        <div class="container pagecontainer">
            <div class="jumbotron main-message">
                <h1>大阪大学軽音楽部ROCK</h1>
                <h3>大阪大学公認の部活動です。</h3>
            </div>
            <ul class="slideshow">
                <li id="im0"></li>
                <li id="im1"></li>
                <li id="im2"></li>
                <li id="im3"></li>
                <li id="im4"></li>
            </ul>
        </div>
    </section>

    <!-- about page -->
    <section class="page-section about" id="about">
        <div class="container pagecontainer" style="color: aliceblue;">
            <div class="box">
                <h1><span>大阪大学軽音楽部ROCKとは</span></h1>
            </div>
            <div class="about">
                <p>
                    大阪大学公認の軽音楽部です。ROCK、POPなどの音楽をバンドで練習してライブなどで披露するのを主な活動としています(
                    演奏する音楽ジャンルに制限はありません)。当部の一番の強みとしては、部所有の練習スタジオ(通称box)、部員の憩いの
                    場である部室(通称ユース)があり、練習環境が整っているところにあります。また、春のパート別練習会や特訓(夏合宿)など
                    初心者も経験者も大きく上達できる機会が多くあります。年間多くのライブが企画されており、演奏を披露する場もたくさん用意されていて、
                    音楽に打ち込む大学生活を送りたい方にうってつけの部活となっております。
                <p>
            </div>
            <div class="box">
                <h1>アクセス</h1>
            </div>
            <div class="about">
                <p>
                    所在地：大阪府豊中市待兼山町1-10　大阪大学豊中キャンパス 明道館２階 BOX17(通称：ボックス),BOX19(通称：ユース)
                </p>
            </div>

            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1638.0280587302586!2d135.45139965801303!3d34.804529995101994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDQ4JzE2LjMiTiAxMzXCsDI3JzA5LjAiRQ!5e0!3m2!1sja!2sjp!4v1600004597687!5m2!1sja!2sjp"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="box">
                <h1>お問い合わせ</h1>
            </div>
            <div class="about">
                <p>Twitter:</p>
                <p><a class="link" href="https://twitter.com/keionrock2021" target="_blank"
                        rel="noopener">https://twitter.com/keionrock2021</a></p>
                <p>公式新歓LINE:</p>
                <p>@535axbcd</p>
                <img src="2021LINE.JPG" alt="LINE QRコード">
            </div>
        </div>
    </section>
    <!-- activity page -->
    <section class="page-section activity" id="activity">
        <div class="container pagecontainer" style="color: aliceblue;">
            <div class="box">
                <h1>活動内容</h1>
            </div>
            <div class="about">
                <p>
                    学祭、ライブハウス、学内施設でのライブ、それらの出演バンドを選抜するオーディションを中心とし、パート別練習会や特訓などの練習会、
                    自由参加の非公式ライブなど、一年を通してイベントが多く企画されています。普段は部員はbox(部所有の練習スタジオ)にてバンド練習や
                    個人練習に励んでいます。
                </p>
            </div>
        </div>
    </section>
    <!-- join page -->
    <section class="page-section join" id="join">
        <div class="container pagecontainer" style="color: aliceblue;">
            <div class="box">
                <h1>入部を希望の方へ</h1>
            </div>
            <div class="about">
                <p>まずは部室見学をしていただき、部の雰囲気を感じていただくのをおすすめしています。</p>
                <p>公式TwitterのDMや公式LINEのチャットにご希望の日時を知らせていただければ当部幹部がその日時に案内しますので、見学してから
                    仮入部届を記入していただく流れとなります。</p>
                <p>ご興味がある方はお気軽にご連絡ください。</p>
            </div>
            <div class="faq">
                <div class="box">
                    <h1>よくある質問</h1>
                </div>
                <h2>入部資格について</h2>
                <div class="about">
                    <div class="questions">
                        <p class="question">・阪大生ではないのですが、入部することは可能でしょうか？</p>
                        <p class="answer">A. 可能です。しかし当部は公式イベントについては原則出席とさせていただいておりますので、その点だけご了承お願いします。</p>
                        <p class="question">・他のサークルなどとの掛け持ちは可能ですか？</p>
                        <p class="answer">A. こちらの公式イベントへの参加を優先していただければ可能です。</p>
                        <p class="question">・一回生以外の入部も受け付けていますか？</p>
                        <p class="answer">A. 当部では何回生であっても入部した年度から一回生という扱いで三年間活動していただきますので今から入部しても遅いということはありません。</p>
                        <p class="question">・初心者なのですが入部した後ついていけるんでしょうか？</p>
                        <p class="answer">
                            A. 軽音ROCKではパート練習、特訓といった、初心者の方でもやる気さえあれば上達できる機会がしっかりと設けられておりますので、初心者の方にこそ入部をお勧めしたいです。</p>
                        <p class="question">・学部が豊中キャンパスではないのですが活動に参加できますでしょうか？</p>
                        <p class="answer">A. 豊中キャンパス以外の部員も多数在籍しておりますので心配御無用です。</p>
                        <p class="question">・ボーカルだけしたいのですが入部できますか？</p>
                        <p class="answer">A. もちろん可能です。ボーカルだけを担当している部員もいます。</p>
                    </div>
                    <h2>活動について</h2>
                    <div class="questions">
                        <p class="question">・活動日はいつですか。</p>
                        <p class="answer">A.
                            原則出席の公式イベントについては年間行事を参照してください（土曜日が多いです）。その他はバンドごとの練習、個人練習を各自部室で行います。また、自由参加の非公式イベントもあります。
                        </p>
                        <p class="question">・公式イベントはどの時間帯に行われますか？</p>
                        <p class="answer">A.
                            オーディションは朝に集合し夕方あたりに解散となり、ライブはその後に打ち上げが夜までありますので、公式イベントの日は基本的に丸一日予定を空けていただきたいです。</p>
                        <p class="question">・何回生の何月までの活動となりますか？</p>
                        <p class="answer">A. 三回生の12月に現役引退となり、その後はOB、OGとしてイベントに参加したりすることができます。</p>
                        <p class="question">・どのようにバンドは結成されますか？</p>
                        <p class="answer">A. 結成会のような決まったイベントはなく、部員同士の会話から自然発生的に結成されています。</p>
                        <p class="question">・パートはずっと固定ですか？</p>
                        <p class="answer">A. 特にそのような決まりはなく、いくつかのパートを担当している部員もいますが、ひとつのパートを突き詰める方がメリットが大きいため、推奨しています。
                        </p>
                        <p class="question">・一人につきバンドはいくつくらい組みますか？</p>
                        <p class="answer">A.
                            定期的にオーディションに出すバンドは、人にもよりますが、２〜３バンドほど組んでいる人が多い印象です。その他学祭の喫茶ライブや、各バンド一曲だけを演奏する月例というイベントに向けてバンドを組んだりします。
                        </p>
                        <p class="question">・部員は全員ライブに出ることはできますか？</p>
                        <p class="answer">A.
                            公式ライブはオーディションを勝ち抜かなければ出場できませんが、月例や非公式ライブなどはオーディションがなく、希望すれば出演できますので、入部したものの演奏を披露する場がないということはありません。
                        </p>
                        <p class="question">・オリジナル曲も演奏しますか？</p>
                        <p class="answer">A. 稀ではありますが、過去にオリジナル曲を演奏した先輩もいます。</p>
                        <p class="question">・打ち上げはどのような雰囲気ですか？</p>
                        <p class="answer">A.
                            軽音ROCKはアルハラ、コールなどは禁止となっており、飲みの強要などはないのでその点はご安心ください。アルコール類だけでなくソフトドリンクも用意しています。</p>
                    </div>
                    <h2>入部について</h2>
                    <div class="questions">
                        <p class="question">・入部期間はいつですか？</p>
                        <p class="answer">A. 軽音ROCKはいつでも入部可能です。是非部の活動を見に来てください。</p>
                        <p class="question">・自分の楽器がないのですが入部できますか？</p>
                        <p class="answer">A. 入部して一定期間は部員が楽器をお貸ししますのでご安心ください。</p>
                    </div>
                </div>

            </div>
            <!-- </div> -->
        </div>
    </section>
    <!-- links page -->
    <section class="page-section links" id="links">
        <div class="container pagecontainer" style="color: aliceblue;">
            <div class="box">
                <h1>リンク集</h1>
            </div>
            <div class="about">
                <ul class="links">
                    <li><a class="link" href="https://www.osaka-u.ac.jp/ja" target="_blank" rel="noopener">大阪大学HP</a>
                    </li>
                    <!-- 【サイト公開時にやるべきこと】リンクを貼った際はその旨及びお名前、ご連絡先、ホームページのアドレスをwebmaster@ml.office.osaka-u.ac.jpまでご連絡ください。ただし、回答はいたしません。 -->
                    <li><a class="link" href="https://tyuujitu.com/sinkan/" target="_blank"
                            rel="noopener">大阪大学大学祭中央実行委員HP</a>
                    </li>
                    <li><a class="link" href="https://machikanesai.com/" target="_blank" rel="noopener">大阪大学まちかね祭HP</a>
                    </li>
                    <li><a class="link" href="https://twitter.com/noborder_rf" target="_blank" rel="noopener">No Border
                            Rock
                            Festival
                            Twitter</a></li>
                </ul>
                <hr>
                <h2>過去のブログなど</h2>
                <ul class="oldblog">
                    <li><a class="link" href="http://osakaunivkeionrock.blog.fc2.com/" target="_blank"
                            rel="noopener">2016年〜2018年</a>
                    </li>
                    <li><a class="link" href="http://keionrock2015.web.fc2.com/" target="_blank"
                            rel="noopener">2015年</a>
                    </li>
                    <li><a class="link" href="http://keionrock2013.web.fc2.com/about.html" target="_blank"
                            rel="noopener">2013年</a>
                    </li>
                    <li><a class="link" href="https://keionrock.wordpress.com/" target="_blank" rel="noopener">2009年</a>
                    </li>
                    <li><a class="link" href="https://sound.jp/handaikeionrock/rock2006.html" target="_blank"
                            rel="noopener">2006年</a>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <section class="page-section endofsite"></section>
    <%- include("./partials/footer") %>