<%- include("./partials/header") %>
<div class="home">
    <div class="container">
        <div class="jumbotron">
            <h1>大阪大学軽音楽部ROCK</h1>
            <h3>大阪大学公認の部活動です。</h3>
        </div>
    </div>
    <ul class="slideshow">
        <li id="im0"></li>
        <li id="im1"></li>
        <li id="im2"></li>
        <li id="im3"></li>
        <li id="im4"></li>
    </ul>
</div>


<%- include("./partials/footer") %>