<%- include("./partials/header") %>

<<<<<<< HEAD
    <div class="container" style="color: aliceblue;">
        <div class="container">
            <h1>入部を希望の方へ</h1>
            <div>Contents coming soon...</div>
        </div>

=======
<div class="container" style="color: aliceblue;">
    <div class="container">
        <h1>入部を希望の方へ</h1>
        <h3>Contents coming soon...</h3>
	<p>こんにちは</p>
>>>>>>> 9d873747fe85fefa4163bf472de52aeebb11019e
    </div>

    <%- include("./partials/footer") %>