<%- include("./partials/header") %>

    <div class="container" style="color: aliceblue;">
        <div class="container">
            <h1>入部を希望の方へ</h1>
            <div>Contents coming soon...</div>
        </div>

    </div>

    <%- include("./partials/footer") %>