<%- include("./partials/header") %>

<div class="container" style="color: aliceblue;">

    <div>

        <ul>
            <h1>リンク集</h1>
            <li><a href="https://www.osaka-u.ac.jp/ja">大阪大学HP</a></li>
            <!-- 【サイト公開時にやるべきこと】リンクを貼った際はその旨及びお名前、ご連絡先、ホームページのアドレスをwebmaster@ml.office.osaka-u.ac.jpまでご連絡ください。ただし、回答はいたしません。 -->
            <li><a href="https://tyuujitu.com/sinkan/">大阪大学大学祭中央実行委員HP</a></li>
            <li><a href="https://machikanesai.com/">大阪大学まちかね祭HP</a></li>
            <li><a href="https://twitter.com/noborder_rf">No Border Rock Festival Twitter</a></li>
        </ul>
    </div>
    <hr>
    <div>

        <ul>
            <h2>過去のブログなど</h2>
            <li><a href="http://osakaunivkeionrock.blog.fc2.com/">2016年〜2018年</a></li>
            <li><a href="http://keionrock2015.web.fc2.com/">2015年</a></li>
            <li><a href="http://keionrock2013.web.fc2.com/about.html">2013年</a></li>
            <li><a href="https://keionrock.wordpress.com/">2009年</a></li>
            <li><a href="https://sound.jp/handaikeionrock/rock2006.html">2006年</a></li>
        </ul>

    </div>
</div>

<%- include("./partials/footer") %>