<%- include("./partials/header") %>

<div class="container" style="color: aliceblue;">

    <div class="container">
        <ul class="container">
            <h1>リンク集</h1>
            <li><a href="https://www.osaka-u.ac.jp/ja" target="_blank" rel="noopener">大阪大学HP</a></li>
            <!-- 【サイト公開時にやるべきこと】リンクを貼った際はその旨及びお名前、ご連絡先、ホームページのアドレスをwebmaster@ml.office.osaka-u.ac.jpまでご連絡ください。ただし、回答はいたしません。 -->
            <li><a href="https://tyuujitu.com/sinkan/" target="_blank" rel="noopener">大阪大学大学祭中央実行委員HP</a></li>
            <li><a href="https://machikanesai.com/" target="_blank" rel="noopener">大阪大学まちかね祭HP</a></li>
            <li><a href="https://twitter.com/noborder_rf" target="_blank" rel="noopener">No Border Rock Festival
                    Twitter</a></li>
        </ul>
        <hr>

        <ul class="container">
            <h2>過去のブログなど</h2>
            <li><a href="http://osakaunivkeionrock.blog.fc2.com/" target="_blank" rel="noopener">2016年〜2018年</a></li>
            <li><a href="http://keionrock2015.web.fc2.com/" target="_blank" rel="noopener">2015年</a></li>
            <li><a href="http://keionrock2013.web.fc2.com/about.html" target="_blank" rel="noopener">2013年</a></li>
            <li><a href="https://keionrock.wordpress.com/" target="_blank" rel="noopener">2009年</a></li>
            <li><a href="https://sound.jp/handaikeionrock/rock2006.html" target="_blank" rel="noopener">2006年</a></li>
        </ul>

    </div>
</div>

<%- include("./partials/footer") %>