.container {
	text-align: center;
	/* margin: 0 auto; */
  margin-bottom: 0%;
	margin-top: 5%;
}

body {
	background-color: black;
	background-size: cover;
	background-position: bottom;
	font-family: 'Sawarabi Mincho', sans-serif;
	background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 100%;
}

body::before{
  background-size: cover;
  position: fixed;
}

.home {
  /* position: fixed; */
  width: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: rgba(0, 0, 0, 0);
}

.navbar-toggle .icon-bar {
  background-color: white !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(0, 0, 0, 0.9);
}


.jumbotron {
	position: relative;
	width: 100%;
	padding: auto;
	z-index: 1;
	background-color: rgb(0,0,0,0);
	color: white;
	margin-bottom: 600px;
	text-shadow: 0 1px 2px black;
	text-shadow: 0 3px 7px black;
  text-shadow: 0 6px 20px black;
}
.jumbotron h1 {
  text-align: center;
  animation: fadeIn 3s linear 0s 1 normal;
}
.jumbotron h3 {
  animation: fadeIn 3s ease-in 0s 1 normal;
}

.main-message{
  margin-top: 10%;
}

html {
	height: 100%;
}
div{
  font-size: 105%;
  letter-spacing: 0.5px;
}

p.question{
  cursor: pointer;
}
p.question:hover{
  text-decoration: underline;
}
p.answer{
  display: none;
  background: rgba(0, 0, 0, 0.6);
  margin-left: 1em;
  padding: 10px;
  border-radius: 10px;
}
.navbar {
	background-color: rgba(36, 36, 36, 0.384);
	transition: all 0.4s;
}
.navbar:hover {
	background-color: rgb(0,0,0,0.5);
}
.navbar-default .navbar-toggle {
    border-color: rgb(0,0,0,0);
}

.navbar-default .navbar-brand ,.navbar-default .navbar-nav>li>a{
	color: white;
	transition: background-color 0.4s;

}

.navbar-default .navbar-brand:hover ,.navbar-default .navbar-nav>li>a:hover{
	background-color: rgb(0,0,0,0.8);
	color: white;

}
.navbar-default .navbar-brand:visited ,.navbar-default .navbar-nav>li>a:visited{
	color:white;
}

.navbar-default .navbar-brand:visited ,.navbar-default .navbar-nav>li>a:visited{
	color:white;
}

.navbar-fixed-top {
	border-bottom-color: transparent;
}

.row2 {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 50px;
	padding-left: 50px;
	color: white;
	background-color: rgb(0,0,0,0.8);
}

.container {
	margin-bottom: 100px;
  padding: 0%;
}

.questions {
  text-align: left;
}

.page-section{
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 5%;
  text-align: center;
  transition: all .4s;
  overflow: hidden;
}
.about{
  height: auto;
}
.join{
  height: auto;
}


.grayback{
  background-color: rgba(0, 0, 0, 0.6);
}
.pagecontainer{
  margin: auto;
}

.faq {
  margin: 0%;
  padding: 20%;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .5s;

}

.blur{
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  filter: blur(6px);
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.link{
  color: aliceblue;
}
.link:hover{
  color: rgb(155, 208, 255);
}

#im1 { 
  /* background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/90821662_657287498388114_7013775658446749696_o.jpg?_nc_cat=109&_nc_sid=0debeb&_nc_ohc=vQu85bNJzucAX8fxqdk&_nc_ht=scontent-nrt1-1.xx&oh=41ad717d887b7df178d31813d1215fe3&oe=5F822D87); */
  animation-delay: 10s; 
}
#im2 { 
  /* background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/91900261_657288288388035_1807279202584494080_o.jpg?_nc_cat=103&_nc_sid=0debeb&_nc_ohc=yhcGPHyJouIAX9AknfD&_nc_oc=AQm11fzqstLfGzSQCmBLXGtJNy3QzJIMe70zXpBRf0Pz1WKZwtWfwZTfMVd45zU4fDs&_nc_ht=scontent-nrt1-1.xx&oh=55b2bd2f3bfa6b77f4cf1254e0353413&oe=5F81CEFD); */
  animation-delay: 20s; 
}
#im3 { 
  /* background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/91328186_657287355054795_8515383619122888704_o.jpg?_nc_cat=102&_nc_sid=0debeb&_nc_ohc=SgBlt46en6AAX9Pv82n&_nc_ht=scontent-nrt1-1.xx&oh=7469ce31d2f97dab3e6c87ccdb9b5b37&oe=5F80781B); */
  animation-delay: 30s; 
}
#im4 { 
  /* background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/91121353_657288435054687_7065806017551925248_o.jpg?_nc_cat=104&_nc_sid=0debeb&_nc_ohc=g1aBAPPpwlUAX9Sea2n&_nc_ht=scontent-nrt1-1.xx&oh=3adb0234d4986c1e5bff7e28e085855a&oe=5F82DFE2); */
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

@keyframes fadeIn { /*animetion-nameで設定した値を書く*/

  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/

  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/

}

#map {
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

hr {
  width: 65%;
  height: 30px;
  border-style: solid;
  border-color: rgb(255,255,255,0.6);
  border-width: 1px 0 0 0;
  border-radius: 5px;
}

